.header {
  margin: 30px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item{
    display: flex;
    flex-basis: 520px;

    &:has(.logo){
      justify-content: center;
    }

    &:has(.header__btn){
      justify-content: end;
    }
  }

}


