.hero {
  background: linear-gradient(180deg, #040404 8.97%, rgba(4, 4, 4, 0.2) 100%);
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    margin: 100px 0;
    font-weight: 900;
    font-size: 220px;
    letter-spacing: 0.04em;
    text-align: center;

    @include big-desktop {
      font-size: 150px;
    }

    @include tablet {
      font-size: 100px;
    }

    @include small-tablet {
      font-size: 60px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 555px;

    @include tablet {
      justify-content: center;
      padding-bottom: 200px;
      gap: 30px;

    }

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__text {
    font-size: 30px;
    line-height: 1.3;

    @include tablet {
      font-size: 18px;

    }
  }

  &__btn {
    width: 100%;
    max-width: 610px;

    @include big-desktop {
      width: fit-content;
    }
  }

  &__btn-text {
    position: relative;
    padding-left: 24px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon-play.svg");
      transform: translateY(-50%);
    }
  }
}
