<section class="about section">
  <div class="container">
    <h3 class="about__subtitle">ОБ АВТОРЕ</h3>
    <h2 class="about__title">
      АЛЕКСАНДР НЕВЕШКИН - КОМПОЗИТОР, АРАНЖИРОВЩК. В ЕГО МУЗЫКЕ ПРИМЕНЯЮТСЯ КЛАССИЧЕСКИЕ МУЗЫКАЛЬНЫЕ ИНСТРУМЕНТЫ, А
      ПРОИЗВЕДЕНИЯ ЗВУЧАТ В СОВРЕМЕННОМ ИСПОЛНЕНИИ.
    </h2>
    <div class="about__inner">
      <div class="about__img-wrap">
        <img class="about__img" src="img/about-img.jpg" width="618" height="550"
          alt="АЛЕКСАНДР НЕВЕШКИН — КОМПОЗИТОР, АРАНЖИРОВЩИК">
      </div>
      <div class="about__text-box">
        <p class="about__text">
          В&nbsp;школьные годы Александр получил базовое музыкальное образование по&nbsp;классу фортепиано.
          На&nbsp;аранжировщика выучился уже позднее. Более всего его привлекали произведения&nbsp;Л. ван Бетховена
          и&nbsp;И.С. Баха как величайших представителей классической музыки. <br> Окончив Читинский государственный
          университет с&nbsp;присвоением квалификации инженер и&nbsp;работая по&nbsp;специальности, все чаще стал
          задумываться о&nbsp;написании своей музыки и&nbsp;возраждении музыкальных способностей.
        </p>
        <p class="about__text">
          В&nbsp;2017 году написав свою первую композицию он&nbsp;понял, что нужно реализовываться как композитор
          и&nbsp;выпускать свои произведения в&nbsp;свет. Поэтому не&nbsp;останавливаясь на&nbsp;одной композиции
          Александр пишет альбом. И&nbsp;весной 2025 года представляет свою первую работу на&nbsp;своём официальном
          сайте.
        </p>
        <blockquote class="about__quote">
          <p class="about__quote-text">
            «Музыка, услышенная всеми, будет понята не каждым»
          </p>
          <cite class="about__quote-author">
            Александр Невешкин.
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>
