<header class="header">
  <div class="header__inner container">
    <div class="header__item">
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <nav class="nav" title="Меню" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Об авторе</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Музыка</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Подписка</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__item">
      <a class="logo header__logo" href="#">
        <img class="logo__img" src="img/logo.svg" alt="logo">
      </a>
    </div>
    <div class="header__item">
      <button class="header__btn btn btn-reset " data-graph-path="modal-right">Войти</button>
    </div>
  </div>
</header>
