<div class="modal-right graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-right">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h5 class="modal-right__title">
        Личный кабинет
      </h5>
      <div class="modal-lk">
        <div class="modal-lk__subs">
          <div class="modal-lk__subs-inner">
            <div class="modal-lk__rate">
              <ul class="modal-lk__rate-list list-reset">
                <li class="modal-lk__rate-item">
                  Музыка без ограничений
                </li>
                <li class="modal-lk__rate-item">
                  Уведомление о новых треках
                </li>
              </ul>
              <div class="modal-lk__price">
                <div class="modal-lk__price-value">500</div>
                <div class="modal-lk__price-units">₽/мес</div>
              </div>
            </div>
            <div class="modal-lk__subs-info">
              <span class="modal-lk__subs-status">
                Подписка оформлена
              </span>
              <span class="modal-lk__time">
                <span class="modal-lk__time-text">Следующий платеж</span>
                <span class="modal-lk__time-value">15.03.2025</span>
              </span>
            </div>
          </div>
          <a class="modal-lk__subs-link" href="#">Отменить подписку</a>
        </div>
        <div class="modal-lk__action">
          <a class="modal-lk__action-link" href="password-change.html">Изменить пароль</a>
          <a class="modal-lk__action-link" href="#">Выйти</a>
        </div>
      </div>
    </div>
  </div>
</div>
